:root{
    --orange: #ff5900;
    --blue: #040427;
}

html{
    height: 100%;
    scroll-behavior: smooth;
}

body{
    height: 100%;
    background: #fff;
    color: #222;
    font-size: 1.25em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a:hover{
    text-decoration: none;
}

.btn-custom{
    background: #fff;
    border: 2pt solid #fff;
    color: #111;
    transition: .3s;
}

.btn-custom:hover{
    background: none;
    color: #fff;
}


.section{
    padding: 50px 20px;
}

.bg-custom{
    /* background: #040427; */
    background: rgba(4, 4, 39, .95);
    /* background: rgba(255,255,255,.95); */
    box-shadow: 0 10px 20px -6px #111;
    font-size: .9em;
}

.bg-custom ul{
    background: none !important;
}

.bg-nobg{
    background: transparent;
}

.section .title{
    text-align: center;
    font-weight: 300;
    margin: 20px 0;
}

.section .txt{
    text-align: justify;
}

.hr{
    background: #111;
    width: 99%;
    margin: 0 auto;
    padding: .5px;
}

/* NAVBAR */
nav{
    transition: .3s;
}

.navbar-brand{
    font-size: 1.5em;
    letter-spacing: 3px;
}

.nav-item{
    font-size: 1.05em;
    margin: 0 10px;
}

.nav-link{
    color: #fff !important;
    border-bottom: 2pt solid transparent;
    border-top: 2pt solid transparent;
    transition: .3s;
}

.nav-item:hover .nav-link{
    border-bottom: 2pt solid #fff;
}

.blog-link{
    border: 2pt solid #fff;
    padding-left: 25px !important;
    padding-right: 25px !important;
    border-radius: 10px;
    transform: .3s;
}

.blog-link a{}

.blog-link:hover{
    border: none !important; 
    border: 2pt solid #ff5900 !important;
}

.blog-link:hover a{
    color: #ff5900 !important;
    border: none !important; 
    border-top: 2pt solid transparent !important;
    border-bottom: 2pt solid transparent !important;
}


/* OPENER */
.opener{
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 100% !important; 
    width: 100% !important;
    background-image: url("assets/images/bg.png");
    background-size: cover;
    background-attachment: fixed;

    color: #fff;
}

/* ABOUT */
.about{
    padding: 70px 20px;
}

.badges{
    background: #f5f5ff;
}

/* BADGES */
.badges .row > div{
    padding: 50px 0;
    border-radius: 20px;
    text-align: center;
    background-size: cover;
    color: #fff;
    font-size: 2em;
    margin: 10px auto;
}

.badges .row > div i{
    display: block;
    margin: 10px 0;
    font-size: 1.25em;
}

.badges .row > div:nth-child(1){
    background-image: url("assets/images/members.jpg");
}

.badges .row > div:nth-child(2){
    background-image: url("assets/images/events-counter.jpg");
}

.badges .row > div:nth-child(3){
    background-image: url("assets/images/sim.jpg");
}

/* EVENTS */
.events{
    display: none;
}   

.events .cont{
    /* border: 1pt solid red; */
    display: block !important;
    text-align: center;
    background-image: url("assets/images/eventsbg.png");
    background-size: cover;
}

.events .cont .card{
    text-align: left;
    margin: 10px 20px;
    display: inline-block !important;
    border: none;
    border-radius: 20px;
    box-shadow: 0 10px 20px -6px #111;
}

.events .cont .card .date{
    padding: 10px 0 0 0;
}


/* TEAM */
.team{}

.team .cont{
    /* border: 1pt solid red; */
    padding: 0 20px;
}

.team .member{
    /* border: 1pt solid red; */
    padding: 20px 30px;
    text-align: center;
    display: block;
    margin: 0 auto;
}

.team .member img{
    display: block;
    border-radius: 50%;
    width: 75%;
    margin: 0 auto;
}

.team .member .name{
    font-size: 1.5em;
}

.team .member .post{
    font-size: 1.25em;
}

.team .member .desc{
    padding: 10px 0;
    text-align: center;
}

.team .member .btn{
    border-radius: 10px;
    font-size: 1.05em;
}
.team .member .btn i{
    margin: 0 5px;
}


/* JOIN */
.join{
    background-image: url("assets/images/joinbg.jpg");
    background-size: cover;
    background-attachment: fixed;

    text-align: center;
    color: #fff;
}

.join .container .btn{
    padding: 10px 0;
    font-size: 1.05em;
    border-width: 2pt;
}

/* CONTACT */
.contact{
    background-image: url("assets/images/contactbg.jpg");
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.contact .container{
    text-align: center;
    color: #333;
}

.contact .container .item{
    font-size: 1.15em;
    margin: 30px 0;
}

.contact .container .item i{
    margin: 0 10px;
}

.contact .social a{
    font-size: 2em;
    margin: 0 20px;
    color: inherit;
    transition: .3s;
}

.social a:nth-child(1):hover{
    color: #4fce5d;
}

.social a:nth-child(2):hover{
    color: #0088cc;
}

.social a:nth-child(3):hover{
    color: #ea4335;
}

.social a:nth-child(4):hover{
    color: #d71b4b;
}

.social a:nth-child(5):hover{
    color: #0077b5;
}

.social a:nth-child(6):hover{
    color: #3b5998;
}

/* .social a:nth-child(6):hover{
    color: #08a0e9;
} */

/* Footer */
.footer{
    background-color: #f9f9f9;
    padding: 20px;
    /* text-align: center; */
}

.footer .social a{
    font-size: 1.5em;
    margin: 0 10px;
    color: inherit;
    transition: .3s;
}



/* EVENT */

.event{}

.event .e-opener{
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 70%; 
    width: 100%;
    background-image: url("assets/images/webdev.jpg");
    background-size: cover;
    background-attachment: fixed;
    
    color: #fff;
}

.event .git{
    background-image: url("assets/images/git-bg.jpg");
}

.event .e-opener .date{
    font: 1.25em;
    letter-spacing: 5px;
}

.event .e-opener .title{
    font-size: 4em;
}

.event .content{
    /* border: 1pt solid red; */
    padding: 20px 0;
}

.event .content .head i{
    font-size: 1.5em;
    color: #0275d8;
}

.event .content .row > div{
    padding: 10px 0;
    font-size: 1.05em;
}

.event .content .details{
    font-weight: bold;
}

.event .content .desc{
    width: 75%;
    padding: 30px 0;
    margin: 0 auto;
    text-align: justify;
}

.event .content .desc .title{
    font-size: 2em;
    padding: 10px 0;
}

.event .desc hr{
    margin: 50px 0;
}

@media only screen and (max-width: 426px) {
    body{
        font-size: 1.05em;
    }

    .section{
        padding: 10px 15px;
    }

    .cont{
        /* padding: 0 !important; */
    }

    .display-1, .display-2, .display-3, .display-4{
        font-size: 3em;
    }

    nav ul{
        background: rgba(4, 4, 39, .95) !important;
    }

    .badges .row{
        padding: 20px 10px;
    }

    .events{
        padding: 0;
    }
    .events .cont .card{
        margin: 0 5px !important;
    }

    .team .cont{
        padding: 0;
    }

    .join .container .btn{
        margin-bottom: 10px !important;
    }

    .contact{
        position: relative;
        background-image: url("assets/images/contact.jpeg");
    }

    .contact *{
        color: #fff !important;
    }

    .social a{
        font-size: 1.75em;
        margin: 0 10px;
    }



    /* EVENT */

    .event{

    }

    .event .e-opener{
        height: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .event .e-opener .container{
        padding: 0;
    }

    .event .e-opener .title{
        font-size: 3em;
        line-height: 1em;
        padding: 20px 0;
    }

    .event .content .row > div{
        padding: 15px 0;
        font-size: 1.25em;
    }

    .event .btn{
        font-size: 1em !important;
        width: 70%;
    }


    .event .desc {
        width: 90% !important;
        text-align: justify;
    }

    .event .head{
        margin: 0 auto;
        padding: 20px 10px;
    }

    /* Footer */
    .footer{
        text-align: center;
    }

    .footer .row > div{
        padding: 2px 0;
    }

    .footer .social a{
        font-size: 1.5em;
        margin: 0 5px;
        color: inherit;
        transition: .3s;
    }

    
}

.carousel-indicators{
margin-bottom: 10%;
}

.carousel-inner{
    max-width: 80%;
    left: 10%;
    top: 2%;
    position: absolute;
    padding: 20px;
    height: 90%;
}

.carousel-item{
    height : 80%;
}

.carousel-item img{
    height : 130%;
}


.carousel-caption h3 {
    padding: 5%; 
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5vmax;
}

.mx-auto{
     margin: 5px 0px; 
}


#about-img{
    position: relative;
}

#about-txt{
    column-count: 2;
}